body {
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

nav {
    background-color: #111;
    padding: 15px;
}

nav button {
    background: none;
    border: none;
    color: purple;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

nav button:hover {
    color: white;
}

.page {
    padding: 40px;
}

.hidden {
    display: none;
}
